/* HTML Tag */
html {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
}
body{
    font-family: 'Kanit', sans-serif;
}
p{
    word-wrap: break-word;
}


/* --------- Css Class & ID --------- */
.blockquote{
    font-size: 16px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-item{
    border-style: solid;
    border-left-color: #000;
    border-top:0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left-width: 1px;
    padding: 8px 0 8px 0;
}
.nav-item:hover{
    background-color: #000;
    transition: 0.6s;
}
.nav-link{
    font-size: 0.9rem;
}
#home{
    background-image: url('../img/Citrus_Trees.jpg');
    margin-top: 0px;
    min-height: 650px;
}
#underhome{
    background-color:fff;
}
.home-head{
    padding: 270px 10px 10px 10px;
    color: #fff;
    font-weight: 700;
}
.panel{
    padding: 15px;
    background-color: #fff;
    border: 1.5px solid #bbb;
    border-radius: 7px;
}
section{
    padding-top: 25px;
    padding-bottom: 25px;
}
.first-section{
    margin-top: 50px;
}
.footer{
    color: white;
    min-height: 80px;
    padding: 15px;
    z-index: -1;
}
.dropdown-toggle .no-arrow::after{
    display: none;
}

.main{
    background-color: #e0e0e0;
    padding:1rem;
    min-height: 900px;
}
.sidebar{
    position:sticky;
    Top: 4rem;
    overflow-y: auto;
    padding:1rem;
    z-index: 1000;
    background-color: #fff;
    height:calc(100vh - 4rem);
    
}

.margin-card{
    margin-bottom: 10px;
}
.card-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}
.fig-img{
    position:relative;
    height: 200px;
    margin-bottom: 0px;
    overflow: hidden;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.fig-img img{
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 130%;
}
.nav-img-profile{
    margin-right: 5px;
    float: left;
    background: url(../img/home-01.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 130%; /* Interchange this value depending on prefering width vs. height */
    width: 25px;
    height: 25px;
}
.img-profile{
    margin-right: 5px;
    float: left;
    background: url(../img/home-01.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 130%; /* Interchange this value depending on prefering width vs. height */
    width: 40px;
    height: 40px;
}

.blockquote{
    margin-bottom: 0px;
}


